<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        &lt;!&ndash;配置驼峰命名规则&ndash;&gt;
        <setting name="mapUnderscoreToCamelCase " value="true"/>
    </settings>-->

    <!--配置bean-->
    <typeAliases>
        <package name="com.lhjitem.pojo"/>
    </typeAliases>
    <!--配置分页插件，plugins有位置要求，写在typeAliases标签后面-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--调整分页参数合理化，最后一页之后不会出现-1页，而首页之前也不会出现+1-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>